body{
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: turquoise;
    text-shadow: 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia;
}

body > header {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: url("pacman.gif");
    background-repeat: no-repeat;
    background-size: 75%;
    font-size: large;
    color: black;
    text-shadow: 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia;
}

body > footer {
    margin-top: 5%;
    text-align: center;
}

#choosegame {
    text-align: center;
}

#winner {
    text-align: center;
    padding-bottom: 20px;
}

.twoplayer {
    text-align: left;
    flex: 50%;
}

.oneplayer {
    text-align: right;
}

.gametype {
    display: flex;
    flex-direction: row;
}

#gamemenu {
    margin-left: 0px;
    margin-right: 40px;
    display: grid;
    grid-template-areas:
    'tl tr'
    'bl br';
}

.tporig {
    text-align: center;
    margin-left: 0px;
    grid-area: tl;
    max-width: 100%;
    max-height: 100%;
    border-right: thick solid fuchsia;
    border-bottom: thin solid turquoise;
}

.tpspock {
    text-align: center;
    margin-left: 0px;
    grid-area: bl;
    max-width: 100%;
    max-height: 100%;
    border-right: thick solid fuchsia;
    border-top: thick solid fuchsia;
}

.oporig {
    text-align: center;
    padding-left: 30px;
    grid-area: tr;
    max-width: 100%;
    max-height: 100%;
    border-left: thin solid turquoise;
    border-bottom: thin solid turquoise;
}

.opspock {
    text-align: center;
    padding-left: 30px;
    grid-area: br;
    max-width: 100%;
    max-height: 100%;
    border-left: thin solid turquoise;
    border-top: thick solid fuchsia;
}

#gameoneheader {
    text-align: center;
}

#gametwoheader {
    text-align: center;
}

#gamethreeheader {
    text-align: center;
}

#gamefourheader {
    text-align: center;
}

input[type=text] {
    color: white;
    background-color: black;
    border: 3px solid fuchsia;
    border-radius: 6px;
}

.gameoneform {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
}

.gametwoform {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
}

.playeroneplay {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(50%);
    text-align: center;
}

.playertwoplay {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(50%);
    text-align: center;
}

.playgameone:nth-child(3n) {
    width: 100%;
    background-color: fuchsia;
}
.playgametwo {
    width: 100%;
    background-color: fuchsia;
}