body{
    font-family: 'Press Start 2P', cursive;
    background-color: black;
}

body > header {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: url("pacman.gif");
    background-position: left;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    font-size: large;
    color: black;
    text-shadow: 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia;
}

#choosegame {
    text-align: center;
    color: turquoise;
    text-shadow: 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia;
}

.twoplayer {
    color: turquoise;
    text-shadow: 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia;
    text-align: left;
    flex: 50%;
}

.oneplayer {
    color: turquoise;
    text-shadow: 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia;
    text-align: right;
}

.gametype {
    display: flex;
    flex-direction: row;
}
