body{
    font-family: 'Press Start 2P', cursive;
    background-color: black;
}

body > header {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: url("pacman.gif");
    background-repeat: no-repeat;
    background-size: 75%;
    font-size: large;
    color: black;
    text-shadow: 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia;
}

body > footer {
    margin-top: 5%;
    text-align: center;
    color: turquoise;
    text-shadow: 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia;
}

#choosegame {
    text-align: center;
    color: turquoise;
    text-shadow: 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia;
}

.twoplayer {
    color: turquoise;
    text-shadow: 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia;
    text-align: left;
    flex: 50%;
}

.oneplayer {
    color: turquoise;
    text-shadow: 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia;
    text-align: right;
}

.gametype {
    display: flex;
    flex-direction: row;
}

#gamemenu {
    margin-left: 0px;
    margin-right: 40px;
    display: grid;
    grid-template-areas:
    'tl tr'
    'bl br';
    background-color: black;
    color: turquoise;
    text-shadow: 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia, 0 0 1px fuchsia;
}

.tporig {
    text-align: center;
    margin-left: 0px;
    grid-area: tl;
    max-width: 100%;
    max-height: 100%;
    border-right: thick solid fuchsia;
    border-bottom: thin solid turquoise;
}

.tpspock {
    text-align: center;
    margin-left: 0px;
    grid-area: bl;
    max-width: 100%;
    max-height: 100%;
    border-right: thick solid fuchsia;
    border-top: thick solid fuchsia;
}

.oporig {
    text-align: center;
    padding-left: 30px;
    grid-area: tr;
    max-width: 100%;
    max-height: 100%;
    border-left: thin solid turquoise;
    border-bottom: thin solid turquoise;
}

.opspock {
    text-align: center;
    padding-left: 30px;
    grid-area: br;
    max-width: 100%;
    max-height: 100%;
    border-left: thin solid turquoise;
    border-top: thick solid fuchsia;
}