<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ games }} - E48 Games Emporium</title>
</head>
<body>
    <header>
        <h1>The E48 Games Emporium</h1>
        <h3>By Steven Cormack</h3>
        <hr>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <h4>Copyright: dont be stealing ma shit 2021</h4>
        <h5>@ CodeClan: E48</h5>
        <h6>www.gotabitcarriedaway.com</h6>
    </footer>
</body>
</html>