{% extends "base.html" %}

{% block content %}
    <section id="choosegame">
        <h2>ROCK PAPER SCISSORS</h2>
        <h3>Choose your game!</h3>
        <div class="gametype">
            <div class="twoplayer">
                <h3>Player Versus Player</h3>
            </div>
            <div class="oneplayer">
                <h3>Player Versus Machine</h3>
            </div>
        </div>
        <hr>
    </section>
    <menu id="gamemenu">
        <div class="tporig">
            <a href="{{ url_for('tprps') }}"><img src="{{url_for('static', filename='RPS.png')}}" alt="2playeroriginal" style="max-width: 300px;max-height: 300px;"></a>
            <p>Play the classic Rock, Paper, Scissors against a friend</p>
        </div>
        <div class="tpspock">
            <a href="{{ url_for('tprpsls') }}"><img src="{{url_for('static', filename='RPSLS.png')}}" alt="2playerspock" style="max-width: 300px;max-height: 300px;"></a>
            <p>Play Rock, Paper, Scissors, Lizard, Spock against a friend</p>
        </div>
        <div class="oporig">
            <a href="{{ url_for('oprps') }}"><img src="{{url_for('static', filename='RPS.png')}}" alt="1playeroriginal" style="max-width: 300px;max-height: 300px;"></a>
            <p>Play the classic Rock, Paper, Scissors against the computer</p>
        </div>
        <div class="opspock">
            <a href="{{ url_for('oprpsls') }}"><img src="{{url_for('static', filename='RPSLS.png')}}" alt="1playerspock" style="max-width: 300px;max-height: 300px;"></a>
            <p>Play Rock, Paper, Scissors, Lizard, Spock against the computer</p>
        </div>
    </menu>
    <hr>
    
{% endblock %}