{% extends "base.html" %}

{% block content %}
<section id="winner">
    <h2>ROCK PAPER SCISSORS LIZARD SPOCK</h2>
    <h3>{{ player_1.name }} Vs {{ player_2.name }}</h3>
    <h4>The Results!</h4>
    <hr>
</section>
<div class="thechoices">
    {{ player_1.name }} played {{ player_1.choice}}
    {% if player_1.choice == "rock" %}
    <img src="{{url_for('static', filename='RockEnable.png')}}" alt="rock" style="max-width: 300px;max-height: 300px;">
    {% endif %}
    {% if player_1.choice == "paper" %}
    <img src="{{url_for('static', filename='PaperEnable.png')}}" alt="paper" style="max-width: 300px;max-height: 300px;">
    {% endif %}
    {% if player_1.choice == "scissors" %}
    <img src="{{url_for('static', filename='ScissorsEnable.png')}}" alt="scissors" style="max-width: 300px;max-height: 300px;">
    {% endif %}
    {% if player_1.choice == "lizard" %}
    <img src="{{url_for('static', filename='LizardEnable.png')}}" alt="lizard" style="max-width: 300px;max-height: 300px;">
    {% endif %}
    {% if player_1.choice == "spock" %}
    <img src="{{url_for('static', filename='SpockEnable.png')}}" alt="spock" style="max-width: 300px;max-height: 300px;">
    {% endif %}
    {{ player_2.name}} played {{ player_2.choice}}
    {% if player_2.choice == "rock" %}
    <img src="{{url_for('static', filename='RockEnable.png')}}" alt="rock" style="max-width: 300px;max-height: 300px;">
    {% endif %}
    {% if player_2.choice == "paper" %}
    <img src="{{url_for('static', filename='PaperEnable.png')}}" alt="paper" style="max-width: 300px;max-height: 300px;">
    {% endif %}
    {% if player_2.choice == "scissors" %}
    <img src="{{url_for('static', filename='ScissorsEnable.png')}}" alt="scissors" style="max-width: 300px;max-height: 300px;">
    {% endif %}
    {% if player_2.choice == "lizard" %}
    <img src="{{url_for('static', filename='LizardEnable.png')}}" alt="lizard" style="max-width: 300px;max-height: 300px;">
    {% endif %}
    {% if player_2.choice == "spock" %}
    <img src="{{url_for('static', filename='SpockEnable.png')}}" alt="spock" style="max-width: 300px;max-height: 300px;">
    {% endif %}
</div>
<p>
<div class="theresult">
    <hr>
    <br>
    <br>
    {% if result %}
    <h2>{{ result.name }} wins with {{ result.choice}}!</h2>
    {% else %}
    <h2>It's a draw!</h2>
    {% endif %}
    </div>
</p>
{% endblock %}